<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>header}}
    <h1>Welcome to about page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde veniam explicabo ad, cupiditate asperiores totam illo eaque similique, repudiandae, quos dolor facilis dolore aliquam ducimus eius a pariatur cumque beatae?
    Modi ullam facilis dolore temporibus? Illum perspiciatis quidem quis optio voluptatem, provident non, est tempora sequi impedit quos vero ipsum fugiat? Quibusdam quia atque accusamus perspiciatis impedit mollitia nobis dolorum.
    Recusandae natus blanditiis eaque soluta quam ut doloribus, sunt ullam voluptatem nesciunt iusto vitae facere cumque tempora repudiandae et possimus laboriosam officia id animi, at quibusdam? Delectus vero eos animi.
    </p>
</body>
</html> 